body {
    margin: 0;
    line-height: 1;
  }
  span {
    display: inline-block;
    width: 3em;
    font-size: 30px;
    text-align: center;
  }
  
  button {
    margin: 1em;
    padding: .5em 1em;
    border: 0;
    font-size: 20px;
    background-color: #fafafa;
  }